html {
  scroll-behavior: smooth;
}

body {
  background: black;
  height: 200vh;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

.all-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-bg-cirle-01 {
  width: 400px;
  height: 400px;
  border-radius: 800px;
  position: fixed;
  top: -180px;
  left: -180px;
  background: #008AED;
  z-index: -2;
  display: none;
}

.body-bg-cirle-02 {
  width: 600px;
  height: 600px;
  border-radius: 800px;
  position: fixed;
  top: 316px;
  right: -120px;
  background: #7300c6;
  z-index: -2;
  display: none;
}

@-webkit-keyframes circleBg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes circleBg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.body-blur-mask {
  width: 100%;
  height: 200vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #131313a4;
  background: url("pictures/blurBg.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

.admin-part-title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto;
      grid-template-columns: 70px auto;
  font-size: 25px;
  color: #696969;
  font-weight: 900;
  letter-spacing: 0.05em;
  padding-left: 50px;
}

.admin-part-title .admin-part-title-ico {
  width: 40px;
  color: #696969;
}

.part-title-box {
  height: 200px;
  width: 400px;
}

.part-title-box-bg {
  font-size: 160px;
  color: #88888810;
  font-weight: 900;
  letter-spacing: 0.2em;
  position: absolute;
}

.part-title-box-title {
  font-size: 56px;
  color: #696969;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.web-logo {
  position: absolute;
  left: 50px;
  top: 60px;
  z-index: 12;
  color: white;
  font-size: 20px;
  letter-spacing: 0.2em;
  font-weight: bolder;
}

/*.hidden {
    opacity: 0;
    transition: all 2s;
}

@keyframes showElements {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0);
    }
}

.show {
    opacity: 1;
    //animation: showElements 2s forwards;
    transform: translateY(0%);


}
*/
.web-me-status {
  position: fixed;
  left: 50px;
  top: 100px;
  z-index: 13;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  font-size: 25px;
  letter-spacing: 0.2em;
}

.menu-phone-btn {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 15;
  width: 70px;
  height: 70px;
  background-color: #3f3f3f7b;
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
  border-radius: 40px;
}

.menu-phone-btn .menu-phone-btn-ico {
  color: #717171;
  width: 50px;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menuPhone {
  display: none;
}

.menu-box {
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  z-index: 14;
  left: 0;
}

.menu-box .menu a {
  text-decoration: none;
  list-style-type: none;
}

.menu-box .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  border-radius: 20px;
  background-color: #3f3f3f7b;
  -webkit-backdrop-filter: blur(300px);
          backdrop-filter: blur(300px);
  width: 60%;
  height: 60px;
  padding: 10px;
}

.menu-box .menu .menu-item {
  color: white;
  font-weight: 900;
  font-size: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto;
      grid-template-columns: 60px auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 15px;
}

.menu-box .menu .menu-item .menu-item-ico {
  width: 20px;
  color: #909090;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-box .menu .menu-item:hover {
  cursor: pointer;
}

.menu-box .menu .menu-item:hover .menu-item-ico {
  color: #6300c6;
}

.slide-box {
  width: 100%;
  height: 100vh;
}

.slide-box .slide-title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-column-gap: 20px;
  letter-spacing: 0.1em;
}

.slide-box .slide-title .slide-crystals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  width: 60%;
}

.slide-box .slide-title .slide-crystals .slide-crystals-ico {
  width: 150px;
  -webkit-animation: slideIco1 10s infinite;
          animation: slideIco1 10s infinite;
}

.slide-box .slide-title .slide-crystals .slide-crystals-ico-v2 {
  width: 250px;
  -webkit-animation: slideIco2 13s infinite;
          animation: slideIco2 13s infinite;
}

.slide-box .slide-title .slide-crystals .slide-crystals-ico-v3 {
  width: 150px;
  -webkit-animation: slideIco3 12s infinite;
          animation: slideIco3 12s infinite;
}

@-webkit-keyframes slideIco1 {
  0% {
    -webkit-transform: translateY(-30px) rotate(-50deg);
            transform: translateY(-30px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
  50% {
    -webkit-transform: translateY(30px) rotate(-20deg);
            transform: translateY(30px) rotate(-20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #6300c6);
            filter: drop-shadow(0px 0px 10px #6300c6);
  }
  100% {
    -webkit-transform: translateY(-30px) rotate(-50deg);
            transform: translateY(-30px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
}

@keyframes slideIco1 {
  0% {
    -webkit-transform: translateY(-30px) rotate(-50deg);
            transform: translateY(-30px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
  50% {
    -webkit-transform: translateY(30px) rotate(-20deg);
            transform: translateY(30px) rotate(-20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #6300c6);
            filter: drop-shadow(0px 0px 10px #6300c6);
  }
  100% {
    -webkit-transform: translateY(-30px) rotate(-50deg);
            transform: translateY(-30px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
}

@-webkit-keyframes slideIco2 {
  0% {
    -webkit-transform: translateY(-40px) rotate(20deg);
            transform: translateY(-40px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #6300c6);
            filter: drop-shadow(0px 0px 10px #6300c6);
  }
  50% {
    -webkit-transform: translateY(40px) rotate(30deg);
            transform: translateY(40px) rotate(30deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
  100% {
    -webkit-transform: translateY(-40px) rotate(20deg);
            transform: translateY(-40px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #6300c6);
            filter: drop-shadow(0px 0px 10px #6300c6);
  }
}

@keyframes slideIco2 {
  0% {
    -webkit-transform: translateY(-40px) rotate(20deg);
            transform: translateY(-40px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #6300c6);
            filter: drop-shadow(0px 0px 10px #6300c6);
  }
  50% {
    -webkit-transform: translateY(40px) rotate(30deg);
            transform: translateY(40px) rotate(30deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
  100% {
    -webkit-transform: translateY(-40px) rotate(20deg);
            transform: translateY(-40px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #6300c6);
            filter: drop-shadow(0px 0px 10px #6300c6);
  }
}

@-webkit-keyframes slideIco3 {
  0% {
    -webkit-transform: translateY(-20px) rotate(-40deg);
            transform: translateY(-20px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(-60deg);
            transform: translateY(20px) rotate(-60deg);
    -webkit-filter: drop-shadow(0px 0px 10px #6300c6);
            filter: drop-shadow(0px 0px 10px #6300c6);
  }
  100% {
    -webkit-transform: translateY(-20px) rotate(-40deg);
            transform: translateY(-20px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
}

@keyframes slideIco3 {
  0% {
    -webkit-transform: translateY(-20px) rotate(-40deg);
            transform: translateY(-20px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
  50% {
    -webkit-transform: translateY(20px) rotate(-60deg);
            transform: translateY(20px) rotate(-60deg);
    -webkit-filter: drop-shadow(0px 0px 10px #6300c6);
            filter: drop-shadow(0px 0px 10px #6300c6);
  }
  100% {
    -webkit-transform: translateY(-20px) rotate(-40deg);
            transform: translateY(-20px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #6300c6);
            filter: drop-shadow(0px 0px 30px #6300c6);
  }
}

.slide-box .slide-title .slide-text-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.slide-box .slide-title .slide-text-box .slide-strong {
  background: -webkit-linear-gradient(#6300c6, #6300c6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: slideStrong 10s infinite;
          animation: slideStrong 10s infinite;
  margin-left: 10px;
  font-weight: 900;
}

@-webkit-keyframes slideStrong {
  0% {
    text-shadow: 0px 0px 30px #6300c6;
  }
  50% {
    text-shadow: 0px 0px 10px #6300c6;
  }
  100% {
    text-shadow: 0px 0px 30px #6300c6;
  }
}

@keyframes slideStrong {
  0% {
    text-shadow: 0px 0px 30px #6300c6;
  }
  50% {
    text-shadow: 0px 0px 10px #6300c6;
  }
  100% {
    text-shadow: 0px 0px 30px #6300c6;
  }
}

.slide-box .slide-title .slide-normal {
  display: inline;
}

.services-box-out {
  width: 100%;
  height: 500px;
}

.services-box-out .services-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  height: 100%;
}

.services-box-out .services-box .services-btns {
  width: 550px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.services-box-out .services-box .services-btns .services-btn {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  background-color: #6300c60e;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  margin-bottom: -850px;
  z-index: 12;
}

.services-box-out .services-box .services-btns .services-btn .services-btn-ico {
  width: 50px;
  color: #6300c6;
}

.services-box-out .services-box .services-btns .services-btn .services-btn-ico-left {
  width: 50px;
  color: #6300c6;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.services-box-out .services-box .services-box-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[5];
      grid-template-columns: repeat(5, 200px);
}

.services-box-out .services-box .services-box-items .services-box-items-item {
  width: 240px;
  height: 240px;
  position: absolute;
  border-radius: 20px;
  background-color: #5a5a5a2b;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: white;
  padding: 30px;
}

.services-box-out .services-box .services-box-items .services-box-items-item .services-box-items-item-about {
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  opacity: 0.4;
}

@-webkit-keyframes cardText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes cardRight {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: white;
  }
}

@keyframes cardRight {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: white;
  }
}

@-webkit-keyframes cardLeft {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: white;
  }
}

@keyframes cardLeft {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: rgba(255, 255, 255, 0);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: white;
  }
}

@-webkit-keyframes cardClick {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: white;
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes cardClick {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: white;
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes cardClickBehind {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: white;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: rgba(255, 255, 255, 0);
  }
}

@keyframes cardClickBehind {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    color: white;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    color: rgba(255, 255, 255, 0);
  }
}

.services-box-out .services-box .services-box-items #item0 {
  z-index: 1;
  height: 200px;
}

.services-box-out .services-box .services-box-items #item1 {
  z-index: 2;
  height: 300px;
}

.services-box-out .services-box .services-box-items #item2 {
  z-index: 3;
  height: 400px;
}

.services-box-out .services-box .services-box-items #item2-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  height: 200px;
}

.services-box-out .services-box .services-box-items #item3 {
  z-index: 2;
  height: 300px;
}

.services-box-out .services-box .services-box-items #item4 {
  z-index: 1;
  height: 200px;
}

.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  width: auto;
  grid-row-gap: 20px;
  width: 90%;
  margin: 0px auto;
}

.projects-switch-box {
  width: 100%;
  height: auto;
}

.projects-switch-box .projects-switch {
  background: #5a5a5a2b;
  height: auto;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[4];
      grid-template-columns: repeat(4, 50px);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.projects-switch-box .projects-switch-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-weight: 800;
}

.projects-switch-box .projects-switch-item:hover {
  cursor: pointer;
}

.projects-slide-preview-filter {
  height: 500px;
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  border-radius: 20px;
  -webkit-transition: 1s;
  transition: 1s;
}

.projects-webdesign-img {
  width: 400px;
  border-radius: 20px;
  height: auto;
}

.projects-slide-preview {
  height: 500px;
  width: 100%;
  border-radius: 20px;
  -webkit-animation: switchPageBg 3s forwards;
          animation: switchPageBg 3s forwards;
}

@-webkit-keyframes switchPageBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes switchPageBg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.projects-slide-preview .projects-slide-preview-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (33%)[3];
      grid-template-rows: repeat(3, 33%);
  height: 60%;
  width: auto;
  padding: 30px;
  -webkit-animation: switchPage 2s forwards;
          animation: switchPage 2s forwards;
  padding-left: 80px;
}

@-webkit-keyframes switchPage {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes switchPage {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.projects-slide-preview .projects-slide-preview-info .projects-slide-preview-info-title {
  font-size: 25px;
  font-weight: 900;
  color: white;
}

.projects-slide-preview .projects-slide-preview-info .projects-slide-preview-info-about {
  font-size: 15px;
  font-weight: 800;
  color: #717171;
}

.projects-slide-preview .projects-slide-preview-info .projects-slide-preview-info-technology {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[5];
      grid-template-columns: repeat(5, 100px);
  grid-gap: 10px;
}

.projects-slide-preview .projects-slide-preview-info .projects-slide-preview-info-technology .projects-slide-preview-info-technology-item {
  width: 80px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  background: #5a5a5a2b;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-size: 15px;
  font-weight: 800;
  color: white;
}

.projects-menu {
  width: auto;
  background: #5a5a5a2b;
  height: 50px;
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  color: white;
  font-size: 15px;
  padding: 10px;
}

.projects-menu .projects-menu-item-active {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-weight: 800;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto auto;
      grid-template-columns: 20% auto auto;
}

.projects-menu .projects-menu-item-active .projects-menu-item-active-ico {
  width: 20px;
  color: white;
}

.projects-menu .projects-menu-item-active:hover {
  cursor: pointer;
}

.projects-menu .projects-menu-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-weight: 800;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% auto auto;
      grid-template-columns: 20% auto auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects-menu .projects-menu-item .projects-menu-item-active-ico {
  width: 30px;
  color: white;
}

.projects-menu .projects-menu-item:hover {
  cursor: pointer;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 40px;
  grid-row-gap: 20px;
  width: 70%;
  margin: 0px auto;
}

#skills-pc {
  display: -ms-grid;
  display: grid;
}

#skills-phone {
  display: none;
}

.skills-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[7];
      grid-template-columns: repeat(7, 120px);
  height: 30px;
  grid-column-gap: 20px;
}

.skills-row-phone {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  height: 30px;
}

.skills-row1 {
  -webkit-animation: 50s row1 infinite;
          animation: 50s row1 infinite;
}

.skills-row2 {
  -webkit-animation: 50s row2 infinite;
          animation: 50s row2 infinite;
}

@-webkit-keyframes row1 {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  50% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

@keyframes row1 {
  0% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  50% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
}

@-webkit-keyframes row2 {
  0% {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  50% {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
}

@keyframes row2 {
  0% {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
  50% {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
  }
  100% {
    -webkit-transform: translateX(-70px);
            transform: translateX(-70px);
  }
}

.skills-row-skill {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-weight: 900;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4a4a4a;
}

.skills-row-skill-main {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  font-weight: 900;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5200e0;
  text-shadow: 0px 0px 30px #350090;
}

.about {
  width: 70%;
  margin: 0px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 400px auto;
      grid-template-rows: 400px auto;
  height: auto;
  margin-bottom: 150px;
}

.about .about-profile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  width: 60%;
  margin: 0px auto;
}

.about .about-profile .about-profile-tags {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.about .about-profile .about-profile-tags .about-profile-tags-tag {
  width: 200px;
  height: 40px;
  border-radius: 40px;
  background-color: #5a5a5a2b;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  color: rgba(255, 255, 255, 0.564);
  font-weight: 900;
}

.about .about-profile .about-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: #5a5a5a2b;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}

.about .about-profile-text {
  color: #9f9f9f;
  font-size: 18px;
  text-align: justify;
}

footer {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0.421);
}

footer .footer-copyright {
  color: #838383;
  font-weight: 900;
  font-size: 20px;
}

.process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[6];
      grid-template-columns: repeat(6, auto);
  width: 80%;
  margin: 0px auto;
  margin-top: 100px;
}

.process .process-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  padding: 25px;
  background: rgba(255, 255, 255, 0.048);
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.097);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.097);
  height: 120px;
  width: 120px;
  border-radius: 120px;
  font-size: 13px;
  font-weight: 800;
  color: white;
}

.process .process-item .process-item-ico {
  width: 30px;
  color: rgba(255, 255, 255, 0.766);
}

.prices {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  width: 80%;
  margin: 0px auto;
}

.prices .price-item-green {
  -webkit-box-shadow: inset 0px 0px 0px #54DD75, 0px 0px 0px #54DD75;
          box-shadow: inset 0px 0px 0px #54DD75, 0px 0px 0px #54DD75;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prices .price-item-green:hover {
  -webkit-box-shadow: inset 0px 0px 50px #54dd74ae, 0px 0px 50px #54DD75;
          box-shadow: inset 0px 0px 50px #54dd74ae, 0px 0px 50px #54DD75;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.prices .price-item-purple {
  -webkit-box-shadow: inset 0px 0px 0px #712BDC, 0px 0px 0px #712BDC;
          box-shadow: inset 0px 0px 0px #712BDC, 0px 0px 0px #712BDC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prices .price-item-purple:hover {
  -webkit-box-shadow: inset 0px 0px 50px #712BDC, 0px 0px 50px #712BDC;
          box-shadow: inset 0px 0px 50px #712BDC, 0px 0px 50px #712BDC;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.prices .price-item-blue {
  -webkit-box-shadow: inset 0px 0px 0px #3EF4E8, 0px 0px 0px #3EF4E8;
          box-shadow: inset 0px 0px 0px #3EF4E8, 0px 0px 0px #3EF4E8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.prices .price-item-blue:hover {
  -webkit-box-shadow: inset 0px 0px 50px #3EF4E8, 0px 0px 50px #3EF4E8;
          box-shadow: inset 0px 0px 50px #3EF4E8, 0px 0px 50px #3EF4E8;
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.prices .prices-item {
  width: 95%;
  height: 700px;
  border-radius: 20px;
  background-color: #5a5a5a2b;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 180px auto 150px;
      grid-template-rows: 180px auto 150px;
}

.prices .prices-item .prices-item-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-row-gap: 20px;
}

.prices .prices-item .prices-item-head .prices-item-head-title-green {
  color: #54DD75;
  font-weight: 800;
  font-size: 25px;
  -webkit-animation: etherium 10s infinite;
          animation: etherium 10s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-title-purple {
  color: #712BDC;
  font-weight: 800;
  font-size: 25px;
  -webkit-animation: purple 10s infinite;
          animation: purple 10s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-title-blue {
  color: #3EF4E8;
  font-weight: 800;
  font-size: 25px;
  -webkit-animation: blue 10s infinite;
          animation: blue 10s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-crystals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico {
  width: 50px;
  -webkit-animation: crystal1 10s infinite;
          animation: crystal1 10s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico-v2 {
  width: 50px;
  -webkit-animation: crystal2 13s infinite;
          animation: crystal2 13s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico-v3 {
  width: 50px;
  -webkit-animation: crystal3 12s infinite;
          animation: crystal3 12s infinite;
}

@-webkit-keyframes etherium {
  0% {
    text-shadow: 0px 0px 30px #54DD75;
  }
  50% {
    text-shadow: 0px 0px 10px #54DD75;
  }
  100% {
    text-shadow: 0px 0px 30px #54DD75;
  }
}

@keyframes etherium {
  0% {
    text-shadow: 0px 0px 30px #54DD75;
  }
  50% {
    text-shadow: 0px 0px 10px #54DD75;
  }
  100% {
    text-shadow: 0px 0px 30px #54DD75;
  }
}

@-webkit-keyframes crystal1 {
  0% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-50deg);
            transform: translateY(10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 10px #54DD75);
            filter: drop-shadow(0px 0px 10px #54DD75);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
}

@keyframes crystal1 {
  0% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-50deg);
            transform: translateY(10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 10px #54DD75);
            filter: drop-shadow(0px 0px 10px #54DD75);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
}

@-webkit-keyframes crystal2 {
  0% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #54DD75);
            filter: drop-shadow(0px 0px 10px #54DD75);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(20deg);
            transform: translateY(10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #54DD75);
            filter: drop-shadow(0px 0px 10px #54DD75);
  }
}

@keyframes crystal2 {
  0% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #54DD75);
            filter: drop-shadow(0px 0px 10px #54DD75);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(20deg);
            transform: translateY(10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #54DD75);
            filter: drop-shadow(0px 0px 10px #54DD75);
  }
}

@-webkit-keyframes crystal3 {
  0% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-40deg);
            transform: translateY(10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 10px #54DD75);
            filter: drop-shadow(0px 0px 10px #54DD75);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
}

@keyframes crystal3 {
  0% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-40deg);
            transform: translateY(10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 10px #54DD75);
            filter: drop-shadow(0px 0px 10px #54DD75);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico-2 {
  width: 50px;
  -webkit-animation: crystal1b 10s infinite;
          animation: crystal1b 10s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico-2-v2 {
  width: 50px;
  -webkit-animation: crystal2b 13s infinite;
          animation: crystal2b 13s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico-2-v3 {
  width: 50px;
  -webkit-animation: crystal3b 12s infinite;
          animation: crystal3b 12s infinite;
}

@-webkit-keyframes purple {
  0% {
    text-shadow: 0px 0px 30px #712BDC;
  }
  50% {
    text-shadow: 0px 0px 10px #712BDC;
  }
  100% {
    text-shadow: 0px 0px 30px #712BDC;
  }
}

@keyframes purple {
  0% {
    text-shadow: 0px 0px 30px #712BDC;
  }
  50% {
    text-shadow: 0px 0px 10px #712BDC;
  }
  100% {
    text-shadow: 0px 0px 30px #712BDC;
  }
}

@-webkit-keyframes crystal1b {
  0% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-50deg);
            transform: translateY(10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 10px #712BDC);
            filter: drop-shadow(0px 0px 10px #712BDC);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
}

@keyframes crystal1b {
  0% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-50deg);
            transform: translateY(10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 10px #712BDC);
            filter: drop-shadow(0px 0px 10px #712BDC);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
}

@-webkit-keyframes crystal2b {
  0% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #712BDC);
            filter: drop-shadow(0px 0px 10px #712BDC);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(20deg);
            transform: translateY(10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #712BDC);
            filter: drop-shadow(0px 0px 10px #712BDC);
  }
}

@keyframes crystal2b {
  0% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #712BDC);
            filter: drop-shadow(0px 0px 10px #712BDC);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(20deg);
            transform: translateY(10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #712BDC);
            filter: drop-shadow(0px 0px 10px #712BDC);
  }
}

@-webkit-keyframes crystal3b {
  0% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-40deg);
            transform: translateY(10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 10px #712BDC);
            filter: drop-shadow(0px 0px 10px #712BDC);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
}

@keyframes crystal3b {
  0% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-40deg);
            transform: translateY(10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 10px #712BDC);
            filter: drop-shadow(0px 0px 10px #712BDC);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #712BDC);
            filter: drop-shadow(0px 0px 30px #712BDC);
  }
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico-3 {
  width: 50px;
  -webkit-animation: crystal1c 10s infinite;
          animation: crystal1c 10s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico-3-v2 {
  width: 50px;
  -webkit-animation: crystal2c 13s infinite;
          animation: crystal2c 13s infinite;
}

.prices .prices-item .prices-item-head .prices-item-head-crystals .prices-item-head-crystals-ico-3-v3 {
  width: 50px;
  -webkit-animation: crystal3c 12s infinite;
          animation: crystal3c 12s infinite;
}

@-webkit-keyframes blue {
  0% {
    text-shadow: 0px 0px 30px #3EF4E8;
  }
  50% {
    text-shadow: 0px 0px 10px #3EF4E8;
  }
  100% {
    text-shadow: 0px 0px 30px #3EF4E8;
  }
}

@keyframes blue {
  0% {
    text-shadow: 0px 0px 30px #3EF4E8;
  }
  50% {
    text-shadow: 0px 0px 10px #3EF4E8;
  }
  100% {
    text-shadow: 0px 0px 30px #3EF4E8;
  }
}

@-webkit-keyframes crystal1c {
  0% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #3EF4E8);
            filter: drop-shadow(0px 0px 30px #3EF4E8);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-50deg);
            transform: translateY(10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 10px #3EF4E8);
            filter: drop-shadow(0px 0px 10px #3EF4E8);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #3EF4E8);
            filter: drop-shadow(0px 0px 30px #3EF4E8);
  }
}

@keyframes crystal1c {
  0% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #3EF4E8);
            filter: drop-shadow(0px 0px 30px #3EF4E8);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-50deg);
            transform: translateY(10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 10px #3EF4E8);
            filter: drop-shadow(0px 0px 10px #3EF4E8);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-50deg);
            transform: translateY(-10px) rotate(-50deg);
    -webkit-filter: drop-shadow(0px 0px 30px #3EF4E8);
            filter: drop-shadow(0px 0px 30px #3EF4E8);
  }
}

@-webkit-keyframes crystal2c {
  0% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #3EF4E8);
            filter: drop-shadow(0px 0px 10px #3EF4E8);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(20deg);
            transform: translateY(10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 30px #3EF4E8);
            filter: drop-shadow(0px 0px 30px #3EF4E8);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #3EF4E8);
            filter: drop-shadow(0px 0px 10px #3EF4E8);
  }
}

@keyframes crystal2c {
  0% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #3EF4E8);
            filter: drop-shadow(0px 0px 10px #3EF4E8);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(20deg);
            transform: translateY(10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 30px #3EF4E8);
            filter: drop-shadow(0px 0px 30px #3EF4E8);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(20deg);
            transform: translateY(-10px) rotate(20deg);
    -webkit-filter: drop-shadow(0px 0px 10px #3EF4E8);
            filter: drop-shadow(0px 0px 10px #3EF4E8);
  }
}

@-webkit-keyframes crystal3c {
  0% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #3EF4E8);
            filter: drop-shadow(0px 0px 30px #3EF4E8);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-40deg);
            transform: translateY(10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 10px #3EF4E8);
            filter: drop-shadow(0px 0px 10px #3EF4E8);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
}

@keyframes crystal3c {
  0% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #3EF4E8);
            filter: drop-shadow(0px 0px 30px #3EF4E8);
  }
  50% {
    -webkit-transform: translateY(10px) rotate(-40deg);
            transform: translateY(10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 10px #3EF4E8);
            filter: drop-shadow(0px 0px 10px #3EF4E8);
  }
  100% {
    -webkit-transform: translateY(-10px) rotate(-40deg);
            transform: translateY(-10px) rotate(-40deg);
    -webkit-filter: drop-shadow(0px 0px 30px #54DD75);
            filter: drop-shadow(0px 0px 30px #54DD75);
  }
}

.prices .prices-item .prices-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-row-gap: 20px;
  width: 80%;
}

.prices .prices-item .prices-body .prices-body-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto;
      grid-template-columns: 40px auto;
  font-size: 15px;
}

.prices .prices-item .prices-body .prices-body-item .prices-body-item-ico {
  color: #c5c5c5;
  width: 20px;
}

.prices .prices-item .prices-price-green {
  font-size: 40px;
  font-weight: 900;
  color: #54DD75;
  text-shadow: 0px 0px 30px #54DD75;
}

.prices .prices-item .prices-price-purple {
  font-size: 40px;
  font-weight: 900;
  color: #712BDC;
  text-shadow: 0px 0px 30px #712BDC;
}

.prices .prices-item .prices-price-blue {
  font-size: 40px;
  font-weight: 900;
  color: #3EF4E8;
  text-shadow: 0px 0px 30px #3EF4E8;
}

#reference {
  margin-left: 100px;
}

#about {
  margin-left: 100px;
}

#contact {
  margin-left: 30px;
}

.webs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
  padding: 50px;
}

.webs .webs-web {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px auto (50px)[2];
      grid-template-columns: 70px auto repeat(2, 50px);
  background: rgba(83, 83, 83, 0.412);
  border-radius: 20px;
  height: auto;
  width: auto;
}

.webs .webs-web .webs-web-ico {
  width: 40px;
  color: #120191;
  -webkit-animation: webIco 60s infinite;
          animation: webIco 60s infinite;
}

.webs .webs-web .webs-web-active-ico {
  width: 40px;
  color: #120191;
  -webkit-animation: webIcoActive 60s infinite;
          animation: webIcoActive 60s infinite;
}

@-webkit-keyframes webIcoActive {
  0% {
    color: #00aa44c0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    color: #30b967fe;
  }
  60% {
    color: #00aa44c0;
  }
  80% {
    color: #30b967fe;
  }
  100% {
    color: #00aa44c0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes webIcoActive {
  0% {
    color: #00aa44c0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    color: #30b967fe;
  }
  60% {
    color: #00aa44c0;
  }
  80% {
    color: #30b967fe;
  }
  100% {
    color: #00aa44c0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes webIco {
  0% {
    color: #fbfbfb44;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    color: #fbfbfb86;
  }
  60% {
    color: #fbfbfb44;
  }
  80% {
    color: #fbfbfb86;
  }
  100% {
    color: #fbfbfb44;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes webIco {
  0% {
    color: #fbfbfb44;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    color: #fbfbfb86;
  }
  60% {
    color: #fbfbfb44;
  }
  80% {
    color: #fbfbfb86;
  }
  100% {
    color: #fbfbfb44;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.webs .webs-web .webs-web-check-ico {
  width: 30px;
  color: #00c746;
}

.webs .webs-web .webs-web-edit-ico {
  width: 20px;
  color: #b3b3b3;
}

.webs .webs-web .webs-web-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  grid-row-gap: 5px;
  padding: 15px;
}

.webs .webs-web .webs-web-info .webs-web-info-title {
  font-size: 17px;
  font-weight: 800;
  color: white;
}

.webs .webs-web .webs-web-info .webs-web-info-url {
  font-size: 12px;
  font-weight: 800;
  color: #c5c5c5;
}

.webs .webs-web-action-btn {
  font-size: 17px;
  font-weight: 800;
  color: white;
}

.left-panel {
  position: fixed;
  left: -600px;
  top: 0;
  width: 500px;
  height: 100%;
  z-index: 2;
  background-color: #5a5a5a2b;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  -webkit-transition: 1s;
  transition: 1s;
}

.left-panel .left-panel-edit {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (50px)[5];
      grid-template-rows: repeat(5, 50px);
  grid-row-gap: 10px;
}

.left-panel .left-panel-edit-input {
  width: 300px;
  border: none;
  border-radius: 10px;
  height: 50px;
  background: rgba(239, 239, 239, 0.105);
  text-align: center;
  color: white;
}

.left-panel .left-panel-edit-btn {
  width: 300px;
  border: none;
  border-radius: 10px;
  height: 50px;
  background: #ffffff4d;
  color: rgba(255, 255, 255, 0.624);
  font-weight: 700;
}

.left-panel .left-panel-edit-btn-close {
  width: 300px;
  border: none;
  border-radius: 10px;
  height: 50px;
  background: #120191;
  color: white;
  font-weight: 700;
}

.left-panel:target {
  left: 0;
}

.contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  width: 50%;
  margin: 0px auto;
  margin-bottom: 100px;
}

.contact .contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 40px 200px;
      grid-template-rows: 40px 40px 200px;
  grid-row-gap: 40px;
}

.contact .contact-form .contact-form-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px auto;
      grid-template-columns: 60px auto;
  background-color: #5a5a5a2b;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 20px;
  padding: 10px;
  height: 100%;
}

.contact .contact-form .contact-form-item .contact-form-item-ico {
  color: #6300c6;
  width: 30px;
}

.contact .contact-form .contact-form-item .contact-form-item-input {
  background: transparent;
  border: none;
  width: 100%;
  height: 90%;
  font-weight: 700;
  color: white;
}

.contact .contact-form .contact-form-item textarea {
  font-weight: 700;
}

.contact .contact-form .contact-form-item .contact-form-item-input:focus {
  background: transparent;
  border: none;
  outline-width: 0;
}

.contact .contact-form .contact-form-btn {
  background-color: #a8a8a82b;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 20px;
  padding: 10px;
  height: 50px;
  width: 100%;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}

.contact .contact-form .contact-form-btn:hover {
  background-color: #bbbbbb2b;
  -webkit-box-shadow: 0px 0px 70px #6300c6;
          box-shadow: 0px 0px 70px #6300c6;
  color: #6300c6;
  cursor: pointer;
}

.social-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  z-index: 10;
}

.social-bar-container .social-bar {
  width: 70px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.064);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.309);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.309);
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (20%)[5];
      grid-template-rows: repeat(5, 20%);
  padding: 5px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.social-bar-container .social-bar .menu-ico {
  width: 30px;
  color: #767676;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-bar-container .social-bar .menu-ico:hover {
  color: #dcdcdc;
  cursor: pointer;
}

.social-bar-container .social-bar-ico {
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 90%;
  }
  .menu-box {
    width: 100%;
    height: 100%;
    top: -100%;
  }
  .menu-box .menu {
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .skills-row-skill {
    font-size: 20px;
  }
  .skills-row-skill-main {
    font-size: 20px;
  }
  .skills-row {
    -ms-grid-columns: (auto)[7];
        grid-template-columns: repeat(7, auto);
  }
  .slide-box .slide-title {
    font-size: 30px;
    padding: 40px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .slide-box .slide-title .slide-crystals {
    width: 90%;
  }
  .slide-box .slide-title .slide-crystals .slide-crystals-ico {
    width: 100px;
  }
  .slide-box .slide-title .slide-crystals .slide-crystals-ico-v2 {
    width: 200px;
  }
  .slide-box .slide-title .slide-crystals .slide-crystals-ico-v3 {
    width: 100px;
  }
  .slide-box .slide-title .slide-text-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (40px)[2];
        grid-template-rows: repeat(2, 40px);
  }
  .projects-menu {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    -ms-grid-rows: (25%)[4];
        grid-template-rows: repeat(4, 25%);
    height: 240px;
    grid-row-gap: 5px;
    padding-bottom: 30px;
  }
  .projects-slide-preview-filter {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .projects-webdesign-img {
    width: 250px;
  }
  .projects-slide-preview .projects-slide-preview-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 20% auto auto;
        grid-template-rows: 20% auto auto;
    height: auto;
    padding-left: 40px;
    grid-row-gap: 20px;
    width: auto;
  }
  .projects-slide-preview .projects-slide-preview-info .projects-slide-preview-info-technology {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (50px)[2];
        grid-template-rows: repeat(2, 50px);
  }
  .skills {
    width: auto;
  }
  #skills-pc {
    display: none;
  }
  #skills-phone {
    display: -ms-grid;
    display: grid;
  }
  #item1 {
    z-index: 2;
    height: 100px;
  }
  #item2 {
    height: 200px;
  }
  #item3 {
    height: 100px;
  }
  .about {
    width: 70%;
    margin: 0px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    height: auto;
    margin-bottom: 150px;
    grid-row-gap: 40px;
  }
  .about .about-profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    width: auto;
    margin: 0px auto;
    grid-row-gap: 40px;
  }
  .about .about-profile .about-profile-tags {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
    grid-row-gap: 20px;
  }
  .about .about-profile .about-profile-tags .about-profile-tags-tag {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    background-color: #5a5a5a2b;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
    color: rgba(255, 255, 255, 0.564);
    font-weight: 900;
  }
  .about .about-profile .about-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    background-color: #5a5a5a2b;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
  }
  .about .about-profile-text {
    color: #9f9f9f;
    font-size: 18px;
    text-align: justify;
  }
  #reference {
    margin-left: -150px;
  }
  #about {
    margin-left: -150px;
  }
  #skills {
    margin-left: -150px;
  }
  #contact {
    margin-left: -150px;
  }
  #prices {
    margin-left: -150px;
  }
  #services {
    margin-left: -150px;
  }
  .prices {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    width: 95%;
    grid-row-gap: 20px;
  }
  .services-box-out {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .services-box-out .services-box .services-btns {
    width: auto;
  }
  .services-box-out .services-box .services-box-items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
    width: 250px;
    padding: 0px;
  }
  .services-box-out .services-box .services-box-items .services-box-items-item {
    width: 200px;
    height: 100px;
  }
  #itemBox0 {
    display: none;
  }
  #itemBox4 {
    display: none;
  }
  #menu {
    display: none;
  }
  #menuPhone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .process {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    width: auto;
    margin: 0px auto;
    margin-top: 100px;
    grid-gap: 10px;
  }
  .process .process-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.048);
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.097);
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.097);
    height: 100px;
    width: 100px;
    border-radius: 120px;
    font-size: 5px;
    font-weight: 800;
    color: white;
  }
  .process .process-item .process-item-ico {
    width: 30px;
    color: rgba(255, 255, 255, 0.766);
  }
}
/*# sourceMappingURL=styl.css.map */